body {
    margin: 0;
    font-family: sans-serif;
}
header {
    background: #2d2d2d;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
}
header h1 {
    color: #fff;
    font-weight: normal;
    display: inline;
    vertical-align: middle;
}
@media only screen and (max-width:450px){
    header h1 {
        font-size: 25px;
    }
    .share img{
        width: 35px;
        height: auto;
    }
}
.logo {
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
}
.share {
    margin: 10px;
    display: inline-block;
}
main {
    margin: 8px;
}
#glayLayer{
    /*デフォルトだと表示しないようにする*/
    display:none;
    position:fixed;
    top:0;
    left:0;
    /*画面全体に表示する*/
    height:100%;
    width:100%;
    /*色設定 グレーに指定*/
    background:black;
    opacity: 0.60;
}

#overLayer {
    /*デフォルトだと表示しない*/
    width: 400px;
    height: 400px;
    display: none;
    position: fixed;
    /*画像の表示位置*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
#img-hakuyo{
    width: 400px;
    height: 400px;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu a:hover { 
    opacity: 0.6
}
.share img {
    width: 50px;
    height: 50px;
}
.button {
    border-radius: 5px;
    padding: 0 10px;
    height: 50px;
    text-align:center;
    display: inline-block;
    background: orange;
}
.btn-text {
    line-height: 50px;
    font-size: 25px;
    text-decoration: none;
    color: #fff;
}
.make-btn {
    margin: 10px;
}
#mobile {
    display: none;
}
@media only screen and (max-width:500px){
    #PC {
        display: none;
    }
    #mobile {
        display: block;
    }
    .make-btn {
        margin: 10px 10px 10px 60px;
        float: left;
    }
    .model {
        float: left;
    }
}